<h3>Welcome back! Please log in to proceed.</h3>

<form method="post" action="/login">
	<label>Email</label><input type="text" name="user[email]"><br>
	<label>Password</label><input type="password" name="user[password]"><br>
	<input type="submit" value="Log in">
</form>