<h3>Hello, and thank you for choosing Airbnb. Before we could proceed, please sign up below!</h3>

<form method="post" action="/users">
	<label>Full Name</label><input type="text" name="user[fullname]"><br>
	<label>Email</label><input type="text" name="user[email]"><br>
	<label>Password</label><input type="password" name="user[password]"><br>
	<input type="submit" value="Sign up">
</form>