
<h1>Have a property? List it down!</h1>

<form method="post" action="/properties">
	<label>Name</label><input type="text" name="property[propertyname]"><br>
	<label>Description</label><input type="text" name="property[description]"><br>
	<label>Location</label><input type="text" name="property[location]"><br>
	<label>Contact email</label><input type="text" name="property[email]"><br>
	<input type="submit" value="Post property!">
</form>