
<h1>Welcome to the wonderful world of Airbnb</h1>


<form method="get" action="/users/new">
	<button>Sign me up!</button>
</form>

<form method="get" action="/login">
	<button>Log in!</button>
</form>
